*{
    /* margin: 0px;
    padding: 0px; */
    /* align-content: center; */
}

.margen {
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-right: 500px;
    margin-left: 100px;
}

.margin_input{
    margin: 10px;
}

p {
    text-align: center;
}

.boxFrom {
    margin: 10px;
}

.form-margen {
    margin: 10px;
}
